@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-primary{
  color: #EF0548;
}
.text-secondary{
  color: #FF9C00;
}
.text-accent{
  color: #04213F;
}
.bg-accent{
  background-color: #04213F;
}
.btn-primary{
  background-color: #EF0548;
  color: #ffff;
  padding: 12px 16px 12px 16px;
  transition-duration: 200ms;
}
.btn-primary:hover{
  background-color: #cb083f;
}
.btn-primary:active{
  transform: scale(.90);
}
.btn-secondary{
  background-color: #FF9C00;
  color: #000000;
  padding: 12px 16px 12px 16px;
  transition-duration: 200ms;
}
.btn-secondary:hover{
  background-color: #cc7f02;
}
.btn-secondary:active{
  transform: scale(.90);
}
.btn-accent{
  border: 2px solid #848b94;
  color: #000000;
  border-radius: 5px;
  padding: 3px 8px 3px 8px;
  transition-duration: 200ms;
}
.btn-accent:hover{
  border: 2px solid #323232;
}
.btn-accent:active{
  background-color: #ff8800;
  border: 2px solid #ff8800;
  transform: scale(.90);
}
